body{
background-color: greenyellow;
}

h1{
    font-family:'oswald'sans-serif ;
    background-color:cornsilk ;
    color:rgb(38,0,255) ;
}

#show_sketch{
    float: right;
} 
#score{
    font-size:20px;
    font-family:'oswald'sans-serif ;
    margin-left: 5;
}

#timer{
    float: right;
    font-size:20px;
    font-family:'oswald'sans-serif ;
    margin-left: 5;
}

p{
        font-size:20px;
        font-family:'oswald'sans-serif ;
        
}

#sketch_to_be_drawn{
    font-size:20px;
    font-family:'oswald'sans-serif ;
    color:red;
}